@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #000;
  background-color: black;
  padding: 10px 20px; 
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
}
.navbar img {
  border-radius: 50%;
}
.navbar h2 {
  margin-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer; 
  display: none; 
}

.logo {
  color: white;
  font-size: 35px;
  font-family: italic;
  padding-left: 5px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 0 20px; 
  padding-top: 20px;;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #00d31c;
}

.search {
  display: flex;
  align-items: center;
  
}

.srch {
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 2px solid #ffffff;
  margin-top: 13px;
  color: white;
  border-right: none;
  font-size: 16px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: text;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #ffffff;
  margin-top: 13px;
  color: rgb(0, 0, 0);
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus {
  outline: none;
}

.srch:focus {
  outline: none;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(233, 229, 229, 0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .menu {
      display: none; 
  }

  .search {
      margin-left: auto; 
  }

  .menu-icon {
      display: block; 
  }

  .logo {
      padding-left: 0; 
  }
}


.container{
 align-items: center;
  display: flex;
  padding-left: 60px;
  justify-content: center;
  padding:25px;
  min-height: 100vh;

}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  position: absolute;

}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #000000;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #858181;
}
.backgroun{
  width: 103%;
  height: 800px;
  
}


footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
	
